---
import Empresa from "../components/Empresa.astro";
import { empresas } from "../contents/Empresa";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Empresas</title>
	</head>
	<body class="bg-principal ">
		<img class="m-auto p-5" src="https://isft75.edu.ar/wp-content/uploads/2016/09/logo-transparente.png" alt="icono del instituto">
		<section >
			{empresas.map((emp)=>(
				<Empresa
				title = {emp.nombre}
				descrip = {emp.descrip}
				img = {emp.img}
				linkPage = {emp.linkPage}
				linkFace = {emp.linkFace}
				linkIg = {emp.linkIg}

				/>
			))}
		</section>
	</body>
</html>


<style>

</style>