---
const {title, descrip, img, linkPage, linkIg, linkFace} = Astro.props;
---
    
<div class="flex m-5 p-5 border rounded-lg border-second">
   
    <div class="flex flex-col gap-2 w-full">    
        <div class="flex m-0 p-0 ">
            <h2 class="text-lg font-sans font-bold w-11/12 text-second">{title}</h2>
            <img  class="w-10 h-10 " src={img} alt={`imagen de ${title}`} >
        </div>
        <p class="font-sans text-lef text-ter">{descrip}</p>
        <div class="flex flex-row m-auto pt-5 space-x-10">
            {linkIg ? <a class="justify-self-end" href={linkIg}  target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram stroke-ter size-6 hover:stroke-second " width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M16.5 7.5l0 .01" />
              </svg></a> : ""}
            {linkFace ? <a class="justify-self-end" href={linkFace}  target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook stroke-ter size-6 hover:stroke-second" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
              </svg></a> : ""}
            <a class="justify-self-end" href={linkPage}  target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-world stroke-ter size-6 hover:stroke-second" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                <path d="M3.6 9h16.8" />
                <path d="M3.6 15h16.8" />
                <path d="M11.5 3a17 17 0 0 0 0 18" />
                <path d="M12.5 3a17 17 0 0 1 0 18" />
              </svg></a>
        </div>
    </div>
</div>